@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Space Grotesk', sans-serif;
}

main{
    max-width: 100dvw;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 17dvh 0 0 0;
}
.botones-cambiar{
    width: 100%;
    height: 5dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.producto{
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #000;
    width: 90dvw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1dvh;
    padding: 10px 0 10px 0;
    gap: 10px;
    opacity: 0;
    animation: aparecer 0.4s ease-out forwards;
}
.nombre-producto{
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.6em;
}
.contenedor-info{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contenedor-imagen{
    width: 40%;
    height: 40%;
}
.contenedor-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.contenedor-texto{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 8px;
}
.descripcion{
    font-size: 1.4em;
}
.precio-producto{
    font-size: 1.1em;
}
.carrito, .comprar{
    position: relative;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.carrito{
    background-color: #fff;
}
.comprar{
    font-weight: bold;
    background-color: rgb(176, 236, 176);
    z-index: 1;
}
.comprar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(176, 184, 236);
    transition: 1.5s;
    z-index: -1;
}
.comprar:hover::before{
    width: 100%;
}
.btn-1, .btn-2{
    position: relative;
    height: 100%;
    width: 40%;
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}
.btn-1::before, .btn-2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #bfbfbf;
    z-index: -1;
    transition: 0.8s;
    border-radius: 20px;
}
.btn-1:not(.disabled):hover::before, .btn-2:not(.disabled):hover::before{
    width: 100%;
}
.btn-1.disabled, .btn-2.disabled{
    cursor: not-allowed;
    background-color: #444;
    color: #fff;
}

@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateX(-25px);
    } to{
        opacity: 1;
        transform: translateX(0);
    }
}